<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Neko Server</title>
    <style type="text/css">
        .index-div {
            margin-top: 30px;
            text-align: center;
        }

        .index-img {
            width: 137px;
            height: 125px;
            margin: 30px;
        }
        .main-div {

        }
    </style>
</head>
<body>
<div class="index-div">
    <img src="/static/img/index.gif" alt="index" class="index-img"/>
    <h1>欢迎使用Neko Server</h1>
    <div class="main-div">
        <a><span>留言板</span></a>
        <a><span>用户管理</span></a>
    </div>
</div>
</body>
</html>