<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>编辑留言</title>
    <style>
        div {
            margin: 20px auto;
        }
    </style>
</head>
<body>
<div style="text-align: center">
    <form action="/note/edit?id={{ note.id }}" method="post">
    <div>
        <label>
            标题：
            <input type="text" name="title" value="{{ note.title }}"/>
        </label>
        <label>
            留言：
            <input type="text" name="content" value="{{ note.content }}"/>
        </label>
        <button type="submit">提交</button>
    </div>
    </form>
</div>
</body>
</html>