<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>所有留言</title>
    <style>
        div {
            margin: 20px auto;
        }
    </style>
</head>
<body>
<div style="text-align: center">
    <div>
        {{ if login }}
        <a href="/note/add"><span>添加留言</span></a>
        {{ end }}
    </div>
    <div><span>系统所有留言</span></div>
    {{ for n in note}}
    <div>
        <span>{{ n.username }} :{{ n.title }} -- {{ n.content }}</span>
        {{ if login }}
        <a href="/note/edit?id={{ n.id }}"><span>编辑留言</span></a>
        <a href="/user/logout?id={{ n.id }}"><span>删除留言</span></a>
        {{ end }}
    </div>
    {{ end }}
</div>
</body>
</html>