<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <style>
        div {
            margin: 20px auto;
        }
    </style>
</head>
<body>
<div style="text-align: center">
    <form action="/user/register" method="post">
    <div>
        <label>
            账号：
            <input type="text" name="account"/>
        </label>
        <label>
            密码：
            <input type="text" name="password"/>
        </label>
        <label>
            重复密码：
            <input type="text" name="repeat_password"/>
        </label>
        <label>
            用户名：
            <input type="text" name="username"/>
        </label>
        <button type="submit">提交</button>
    </div>
    </form>
</div>
</body>
</html>