<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <style>
        div {
            margin: 20px auto;
        }
    </style>
</head>
<body>
<div style="text-align: center">
    <form action="/user/register" method="post">
        <div>
            <div>
                <label>
                    账号：
                    <input type="text" name="account"/>
                </label>
            </div>
            <div>
                <label>
                    密码：
                    <input type="text" name="password"/>
                </label>
            </div>
            <div>
                <label>
                    重复密码：
                    <input type="text" name="repeat_password"/>
                </label>
            </div>
            <div>
                <label>
                    用户名：
                    <input type="text" name="username"/>
                </label>
            </div>
            <div>
                <button type="submit">提交</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>